{% extends 'reservas/base.html' %}
{% block content %}
<div class="p-5 mb-4 bg-light rounded-3 border">
    <div class="container-fluid py-5 text-center">
        <h1 class="display-5 fw-bold">Bienvenido al Sistema de Reservas</h1>
        <p class="col-md-12 fs-4">Gestione espacios de la Facultad de Ingeniería de manera eficiente.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <a href="{% url 'disponibilidad' %}" class="btn btn-primary btn-lg">Ver Disponibilidad</a>
            <a href="{% url 'agenda' %}" class="btn btn-outline-secondary btn-lg">Ver Agenda del Día</a>
        </div>
    </div>
</div>
{% endblock %}
